.journey {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 148px 46px;
}

@media screen and (max-width: 1024px) {
  .journey {
    padding: 20px 48px 46px;
  }
}

@media screen and (max-width: 768px) {
  .journey {
    padding: 20px 0 42px;
  }
}