.places__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 1000px) {
  .places__text{
    gap: 25px;
  }
}

@media screen and (max-width: 740px) {
  .places__text{
    padding: 0 16px;
  }
}
