.places__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
  list-style-type: none;
}

@media screen and (max-width: 740px) {
  .places__website{
    padding: 0 16px;
  }
}
